{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Type</th>
                <th class="text-end">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Proceeds</th>
                <th class="text-end">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    {% if log.transaction_type == "Buy" %}
                        <td class="text-start">{{ log.transaction_type }}</td>
                        <td class="text-end">{{ log.symbol }}</td>
                        <td class="text-end">{{ log.shares }}</td>
                        <td class="text-end">{{ log.price | usd }}</td>
                        <td class="text-end">-{{ log.proceeds | usd }}</td>
                        <td class="text-end">{{ log.date }}</td>
                    {% else %}
                        <td class="text-start">{{ log.transaction_type }}</td>
                        <td class="text-end">{{ log.symbol }}</td>
                        <td class="text-end">{{ log.shares }}</td>
                        <td class="text-end">{{ log.price | usd }}</td>
                        <td class="text-end">+{{ log.proceeds | usd }}</td>
                        <td class="text-end">{{ log.date }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
